
<section  class="container-songs">
  <h4 class="container-title">List songs</h4>
  <a class="song">
    <div class="container-info">
      <h3 class="song__title">Carretera</h3>
      <h5 class="song__album">Hijos de la ruina</h5>
    </div>
    <div class="flex">
      <span>3:34</span>
      <button class="btn-icon">
        <svg>
          <use xlink:href="../../assets/sprite.svg#plus"></use>
        </svg>
      </button>
    </div>
  </a>

  <a class="song">
    <div class="container-info">
      <h3 class="song__title">In love</h3>
      <h5 class="song__album">Hijos de la ruina</h5>
    </div>
    <div class="flex">
      <span>5:28</span>
      <button class="btn-icon">
        <svg>
          <use xlink:href="../../assets/sprite.svg#plus"></use>
        </svg>
      </button>
    </div>
  </a>
  <a class="song">
    <div class="container-info">
      <h3 class="song__title">Speed</h3>
      <h5 class="song__album">Hijos de la ruina</h5>
    </div>
    <div class="flex">
      <span>4:15</span>
      <button class="btn-icon">
        <svg>
          <use xlink:href="../../assets/sprite.svg#plus"></use>
        </svg>
      </button>
    </div>
  </a>
  <a class="song">
    <div class="container-info">
      <h3 class="song__title">Agua y aceite</h3>
      <h5 class="song__album">Hijos de la ruina</h5>
    </div>
    <div class="flex">
      <span>3:50</span>
      <button class="btn-icon">
        <svg>
          <use xlink:href="../../assets/sprite.svg#plus"></use>
        </svg>
      </button>
    </div>
  </a>
  <a class="song">
    <div class="container-info">
      <h3 class="song__title">Carne de cañon</h3>
      <h5 class="song__album">Hijos de la ruina</h5>
    </div>
    <div class="flex">
      <span>4:22</span>
      <button class="btn-icon">
        <svg>
          <use xlink:href="../../assets/sprite.svg#plus"></use>
        </svg>
      </button>
    </div>
  </a>
  <a class="song">
    <div class="container-info">
      <h3 class="song__title">J' suis HDLR</h3>
      <h5 class="song__album">Hijos de la ruina</h5>
    </div>
    <div class="flex">
      <span>3:25</span>
      <button class="btn-icon">
        <svg>
          <use xlink:href="../../assets/sprite.svg#plus"></use>
        </svg>
      </button>
    </div>
  </a>
</section>
