<nav class="nav flex-column">
  <h4>MUSIC</h4>
  <a class="nav-link active link-hover" href="#">My stars</a>
  <div class="nav-list">
    <a class="nav-link " href="#">Songs</a>
    <a class="nav-link" href="#">Artists</a>
    <a class="nav-link" href="#">Albums</a>
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Radio</a>
  </div>
  <div class="nav-list">
    <a class="link-icon">PLAYLISTS
      <button class="btn-icon">
        <svg>
          <use xlink:href="../../assets/sprite.svg#plus"></use>
        </svg>
      </button>
    </a>
    <a class="nav-link" href="#">
      <svg>
        <use xlink:href="../../assets/sprite.svg#circle"></use>
      </svg>
      Rock
    </a>
    <a class="nav-link" href="#">
      <svg>
        <use xlink:href="../../assets/sprite.svg#circle"></use>
      </svg>
      Electronic
    </a>
  </div>
</nav>
