
  <nav class="nav flex-column">
    <a class="nav-link active link-hover" href="#">My stars</a>
    <div class="nav-list">
      <button class="btn-link  btn-info " href="#">Songs</button>
      <a class="nav-link" href="#">Artists</a>
      <a class="nav-link" href="#">Albums</a>
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Radio</a>
    </div>
    <div class="nav-list">
    <h4 class="">PLAYLISTS  </h4>
      <ul class=" flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#">Rock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Electronic</a>
      </ul>
    </div>
  </nav>


