
<header class="header">
  <form class="form"  action="...">
    <div class="input-group">
          <svg class="btn-icon" id="basic-addon1">
            <use xlink:href="../../assets/sprite.svg#search"></use>
          </svg>
      <input type="text" class="form-control" placeholder="Type here to search" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>
  <button class="btn-avatar">
    <img class="btn-image" src="../../../assets/images/avatar.png" alt="">
  </button>
</header>
