// SEARCH
//---------

@import "../../../styles/mixins/mixins";


header {
  width: 280%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
  position: relative;
  z-index: 20;
  padding: 20px;
}

.form {
  position: relative;
  z-index: 20;

}

.input-group {
  display: flex;
  align-items: center;
}

.form-control {
  border: 0;
  color: #fff;
  background-color: transparent;
  outline: none;
  padding-left: 13px;

  &::placeholder {
    color: #fff;
    font-size: 14px;
  }
  &:focus {
    color: #fff;
    border-bottom: 1px solid #b4cff2;
  }
}



.btn-icon {
  background-color: transparent;
  border: 0;
  color: #fff;
  outline: none;
}

.btn-icon:hover {
  background-color: transparent;
  border: 0;
  color: #b4cff2;
  stroke: #b4cff2;
  fill: none;
  outline: none;
}

.btn-avatar {
  background-color: transparent;
  border: 0;
  outline: none;
}

.btn-image {
  border-radius: 50px;
  border: 1px solid #fff;
}

svg {
  width: rem(20px);
  height: rem(20px);
}
