<div  class="container-controls">
  <ul class="list-btn">
    <button class="btn">Albums</button>
    <button class="btn">About</button>
    <button class="btn">Related artists</button>
  </ul>
  <div data-spy="scroll" data-target="#navbar-example3"  class="container-albums ">
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/cover_NatosyWaor_01.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caminare</h5>
        <span>2088</span>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/cover_NatosyWaor_01.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caminare</h5>
        <span>2088</span>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/cover_NatosyWaor_01.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caminare</h5>
        <span>2088</span>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/cover_NatosyWaor_01.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caminare</h5>
        <span>2088</span>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/cover_NatosyWaor_01.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caminare</h5>
        <span>2088</span>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="../../../assets/images/cover_NatosyWaor_01.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Caminare</h5>
        <span>2088</span>
      </div>
    </div>
  </div>
</div>
