app-header {
  width: 100%;
}
.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.background {
  position: absolute;
  width: 88%;
  height: 100%;
}

.title {
  position: relative;
  z-index: 10;
  right: -10%;
  font-size: 90px;
  font-weight: bold;
  margin: 20px;
  color: #fff;
}
