<div class="artist-view">
  <img class="background" src="../../../assets/images/wallpaper_NatosyWaor.jpg" alt="">
  <div class="container-artist">
    <app-header class="container-header"></app-header>
    <div class="artist-info">
      <button class="btn-icon--circle">
        <svg class="btn-icon" id="basic-addon1">
          <use xlink:href="../../assets/sprite.svg#star"></use>
        </svg>
        Save to My stars
      </button>
      <h1 class="title">Natos y waor</h1>
      <app-artist-control class="container"></app-artist-control>
      <app-list-albums></app-list-albums>
      <app-player-audio></app-player-audio>
    </div>
  </div>
</div>
