
.btn {
  font-size: 14px;
  color:#fff;
  outline: none;
  margin-right: 45px;
  transition: 0.15s ease-in-out;
}

.btn:hover {
  font-size: 14px;
  color:#b4cff2;
  outline: none;
  border-radius: 0px;
  border-bottom: 2px solid #3191fb;
}

.btn-icon {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 0;
  color: #fff;
  fill: none;
  outline: none;
  transition: 0.15s ease-in-out;
}

.btn-icon:hover {
  background-color: transparent;
  border: 0;
  color: #b4cff2;
  stroke: #b4cff2;
  fill: none;
  outline: none;
  cursor: pointer;
}

.btn-icon--circle {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  padding: 8px 30px;
  transition: 0.15s ease-in-out;
}

.btn-icon--circle:hover  {
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid #b4cff2;
  color: #b4cff2;
  stroke: #b4cff2;
  fill: none;
  outline: none;
  padding: 8px 30px;
}

button:not(:disabled){
  cursor: pointer;
  outline: none;
}

.btn-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  border: 0;
  outline: none;
  transition: 0.15s ease-in-out;
}

.btn-avatar:hover {
  transform: scale(0.95);
}

.btn-avatar p {
  margin: 0;
  padding: 0px 5px;
}

.btn-image {
  border-radius: 50px;
  border: 1px solid #fff;
}

.btn-icon-play {
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 5px;
}

.btn-icon-play:hover {
  border-radius: 50%;
  border: 1px solid #b4cff2;
  padding: 5px;
}



