// SEARCH
//---------



.container-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 17px 30px;
  position: fixed;
  z-index: 500;
}

.header {
  width: 85%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.input-group {
  display: flex;
  align-items: center;
}

.form-control--artist {
  border: 0;
  border-radius: 0;
  color: #fff;
  background-color: transparent;
  outline: none;
  padding-left: 13px;
  transition: 0.15s ease-in-out;
}

.form-control--artist::placeholder {
  color: #fff;
  font-size: 14px;
}

.form-control--artist:focus {
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid #b4cff2;
  outline: none;
  box-shadow: none;
}





