.container-albums {
  overflow-x: scoll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-gap: 40px;
  // overflow-y: scroll;
}



.card {
  width: rem(170px);
  height: rem(220px);
  border-radius: none;
  background-color: transparent;
  color: #fff;
}
