.container-albums {
  // overflow-y: scoll;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  // grid-template-rows: auto;
  // grid-gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 16px 0;
}



.card {
  width: rem(300px);
  background-color: transparent;
  border-radius: none;
  cursor: pointer;
}

.card-body {
  padding-left: 0;
  font-size: 14;
  color: #fff;
}


