.container-albums {
  // overflow-y: scoll;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  // grid-template-rows: auto;
  // grid-gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 16px;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 16px 0;
}



.card {

  border-radius: none;
  background-color: transparent;
  color: #fff;
}
